appdirs==1.4.0
Django==1.11.7
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2017.3
six==1.10.0
requests
gunicorn
django-sslserver

git+https://github.com/pythonwebcoder/social-core.git@d00a965905220b4f66791ecc0070019fe80965b2#egg=social-auth-core
social-auth-app-django
